@charset "utf-8";

#box,
#btnContent {
	width: 530px;
	text-align: center;
	margin: 30px auto
}

/* 蓝色提示框 */
#box ~ div { 
	width: 120px;
	height: 50px;
	margin: 100px auto;
	border-radius: 5px;
	background-color: skyblue;
	color: #f00;
	font: bolder 20px/1 '幼圆';
	text-align: center;
	line-height: 50px
}

#inp,
#del,
#allDel,
#bgImg {
	width: 120px;
	height: 34px;
	background-color: skyblue;
	border-radius: 5px;
	color: #777;
	font: bolder 18px/1 '幼圆';
	outline-color: #fff;
	cursor: pointer
}

form {
	position: relative;
	display: none;
	width: 300px;
	height: 210px;
	box-sizing: border-box;
	padding-top: 5px;
	margin: 10px 0 10px 0;
	border-radius: 5px;
	box-shadow: 3px 3px 7px 2px #777;
	background-color: #ccc;
	font: bolder 19px/1 "幼圆"
}

#box .getFocus_1,
#box .getFocus_2,
#box .getFocus_3,
#box .getFocus_4 {
	height: 35px;
	border-radius: 5px;
	background-color: rgba(255, 20, 147, .7);
	box-shadow: 3px 3px 4px 3px #bbb;
	color: #fff;
	font: bolder 20px/1 '幼圆';
	text-align: center;
	line-height: 35px
}

/* 姓名框 焦点获取 类名 */
#box .getFocus_1,
#box .getFocus_3 { 
	float: right;
	margin-top: -201px
}

#box .getFocus_1 {
	margin-right: -144px
}

/* 电话框 焦点获取 类名 */
#box .getFocus_2,
#box .getFocus_4 { 
	float: right;
	margin-top: -201px;
	margin-right: -65px
}

#box .getFocus_4 { 
	margin-top: -44px;
	margin-right: -65px
}

#box .getFocus_2 { 
	margin-top: -106px;
	margin-right: -41px
}

/* 电话框 正则 类名 */
#box .getFocus_3 { 
	margin-right: -144px
}

form p input {
	height: 20px;
	background-color: #F3F3F3;
	border-radius: 3px;
	font: bold 18px/1 "幼圆";
	text-indent: 1.2em;
	outline: none
}

form p input[type='button'],
input[type="reset"] {
	width: 80px;
	height: 28px;
	margin-right: 20px;
	border-radius: 5px;
	background-color: purple;
	text-indent: 0;
	color: skyblue
}

form p:nth-child(2) {
	margin-left: -103px;
	color: red
}

table{
	width: 500px; 
	margin-top: 2em;
	border-collapse: collapse
}

th {
	height: 30px;
	border: 1px solid #ccf;
	background-color: rgb(0, 0, 70, .1);
	color: rgba( 13, 124, 198, .8 );
	font: bolder 19px/1 "幼圆"
}

tr,
td {
	height: 30px;
	border: 1px solid skyblue;
	color: deeppink;
	text-align: center
}

col.two {
	width: 90px
}
col.four {
	width: 50px
}
col.five {
	width: 140px
}

tr:hover {
	background-color: rgba(255, 0, 0, .3)
}